 @media only screen and (min-width:100px) and (max-width:768px) {
    .section2inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .section2 {
        width: 100%;
    height: auto;
    }


    .right{
        /* background-color: red; */
        /* padding-bottom: 100px; */
        justify-content: center;
        align-items: start;
        /* padding-bottom: 20px; */
        margin-top: -70px;
        text-align: center;
        width: 100%
        ;
    }
.left{
    width: 100%;
    text-align: center;
    justify-content: center;
}
    .parentall{
        justify-content: center;
        text-align: start;
        /* background-color: green; */
        align-items: start;
        display: grid;
        padding-top: -20px;
        justify-content: center;
    }

    .rating{
        /* background-color: blue; */
        /* padding-top: 70px; */
        /* margin-top: 20px; */
        justify-content: center;
        align-items: start;
        display: flex;
       padding: 0;
        /* padding-bottom: 70px; */
    }

    .h2{
        /* display: flex; */
        padding: 0px;
        padding-top: 30px;
        justify-content: center;
        text-align:center;
    }
.paragraph{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.paragraph >p{
    text-align: center;
    width: 100%;
    justify-content: center;
}
  
.btn{
    justify-content: center;
    text-align: center;
    display: flex;
};/*
    .left {
    
        width: 100%;
        background-color: red;
        justify-content: center;
        text-align: center;
        ;
    }



    .right {
        background-color: green;
        width: 100%;
        justify-content: center;
        margin-bottom: 300px;
        height: 300px;
    }

    .right>.h2 {
        padding-top: 40px;
        margin-top: -160px;
    }

    .right>.h2>h3 {
        margin-left: -30px;
    }

    .paragraph>p {
        width: 100%;
        text-align: start;
        justify-content: center;
    }

    .star {
        margin-top: -60px;
    }

    .paragraph {
        width: 100%;
        padding: 5%;
        margin-top: -50px;
        justify-content: center;
        text-align: start;
        align-items: center;
    }
    .btn{
        width: 100%;
  
        display: flex;
        justify-content: center;
    }
    .btn button{
        padding: 3%;
        border-radius: 5px;
    }
} */