.section3{
    height: auto;
    width: 100%;
    gap: 20px;
    /* display: flex; */
}

.skills{
    margin-top: 100px;
    width: 100%;
    /* flex-wrap: wrap; */
    /* display: flex;; */

    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.html{
    width: 90%;
    ;
}
.css {
    width: 90%;
    ;
}
.js {
    width: 90%;
    ;
}
.tailwind {
    width: 90%;
    ;
}
.react {
    width: 90%;
    ;
}
.node {
    width: 90%;
    ;
}