@media only screen and (min-width:100px) and (max-width:768px) {
    .menu ul {
        display: none;
        /* background-color: red; */
    }
.header{
    height:60px;
    display: flex;;
    align-items: center;
}
    .hamberger {
        display: block;
    }

    .toggle {
        /* background-color: red; */
        display: flex;
        width: 100%;
       justify-content: end;
       text-align: end;
       /* padding-left: 20px; */
       /* margin-left: 20px; */
    }

    .toggle .dark {
        display: flex;;
        text-align: end;
        width: 10%;
        margin-left: 10px;
        /* background-color:green; */
        justify-content: end;
        /* margin-left: 20px; */
    }
    .toggle .hamberger{
        width: 10%;
        justify-content: end;
        /* background-color: yellow; */
        text-align: end;
        display: flex;
        /* margin-left: 30px;; */
    }

    .h1 {
        font-size: 8vw;
    }

    .toggle button {
        font-size: 5vw;
        margin-right: -8px;
        scale: 1;
        /* padding-left: 100px; */
    }

    .tp {
        display: block;
        opacity: 1;
    }


    .innersec1 {
        width: 100%;
        flex-direction: column-reverse;
        /* display: block; */
        margin-top: 360px;
        /* background-color: yellow; */

    }

    .section1 {
        width: 100%;
        height: 900px;
        /* background-color: green; */
    }

    .one {
        display: flex;
        gap: 10%;
        width: 100% !important;
        justify-content: space-around;
        align-items: center;
        position: relative;
        text-align: center;
        bottom: 140px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        /* padding-top: -50px; */
        align-items: start;
        align-items: start;
        /* background-color: green; */
        height: 100%;
        /* background-color: red;; */
    }

    .linkin {
        scale: 4;
        /* background-color: red; */
        /* margin-bottom: 20px; */
        /* padding-bottom: 40px; */
        border-radius: 10px;
        width: 20px;
        height: 20px;

    }

    .github {
        scale: 4;
        /* background-color: red; */
        /* margin-bottom: 20px; */
        /* padding-bottom: 40px; */
        border-radius: 10px;
        width: 20px;
        height: 20px;

    }

    .telegram {
        scale: 4;
        /* background-color: red; */
        /* margin-bottom: 20px; */
        /* padding-bottom: 40px; */
        border-radius: 10px;
        width: 20px;
        height: 20px;

    }

    .two {
        width: 100% !important;
        /* padding-bottom: 60%; */
        /* background-color: green; */
        /* margin-bottom: 20px; */
        position: relative;
        bottom: 50px;
        /* margin-bottom: 100px; */
    }

    .para {

        width: 100%;
        /* margin-bottom: 60px; */
        /* background-color: red; */
    }

    .three {
        height: 250px;
        width: 60% !important;
        /* position: relative; */
        /* top: -20px; */
        /* position: relative; */
        background-color: azure;
        /* animation: move 2s linear infinite; */
    }

    .three::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: move 2s linear infinite;
        background-color: rgba(255, 255, 255, 0.808);
        animation-timing-function: ease ease-in-out;
        ;
    }

    @keyframes move {
        10% {
            transform: rotate(5deg);
        }

        20% {
            transform: rotate(-5deg);
        }
    }

    .img {
        height: 100%;
        /* margin-bottom: 200px; */
    }

    .img>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .button {
        justify-content: center;
        text-align: center;
        /* font-size: 3vw; */
        width: 100%;
        
    }

    .button button {
        font-size: 4vw !important;
        border-radius: 10px;
    }

    .name {
        font-size: 4.7vw !important;
    }
}